body {
  background: #0575E6;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 15px;
}

/* kontainer */
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 15%;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* top teks */
#topText {
  margin-bottom: 10px;
}

/* introduce */
#introduce{
  margin-top: 0;
  color: #5858589C;
  font-weight: 600;
  font-size: 13px;
}

/* input login */
#formnya {
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 15px 0px;
  margin-bottom: 0;
}

/*input */
input{
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  outline: none;
}
input::placeholder {
  color: #585858AB;
  font-size: 13px;
  font-weight: 500;
}


/*div checkbox dan label */
.reminder {
  margin-bottom: 30px;
}
#checkbox {
  width: 13px;
  height: 13px;
  cursor: pointer;
  border: 3px solid black;
}
#checkboxLabel {
  font-size: 13px;
  font-weight: 500;
  margin-left: -3px;
  color: #585858;
}

/* tombol login/daftar */
#btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #3b82f6;
  color: white;
  transition: 0.1s;
  border: none;
}
#btn::placeholder {
  font-size: 13px;
}

/* reminder footer dan nav*/
.footerPage {
  font-size: 13px;
  color: #585858CF;
  text-align: center;
}
#pindahPage {
  color: #3b82f6;
}
